@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&family=Grey+Qo&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html {
    font-size: 14px;
}

button,
input {
  cursor: pointer;
}

body {
    /* font-family: "Grey Qo", cursive;
    font-family: "Anek Devanagari", sans-serif; */
    font-size: 1.2rem;
    background-color: #e5f2fc;
    box-sizing: border-box;
    overflow: hidden;
}

.container {
    position: relative;
}

.outdoor-caffe {
    max-width: 100vw;
    height: 100vh;
    background-image: url(../../assets/outdoor-cafe.jpg);
    background-position: top;
    background-size: cover;
}

.blue-breakf-bg {
    max-width: 1550px;
    height: 100vh;
    background-image: url(../../assets/breakfast.jpg);
    background-position: center;
    background-size: cover;
}

.blue-dish-bg {
    max-width: 1550px;
    height: 100vh;
    background-image: url(../../assets/vertical-high-angle-shot-pasta-carbonara-with-mushrooms-blue-wooden-bench.jpg);
    background-position: center;
    background-size: cover;
}

.title-box {
    width: 500px;
    position: absolute;
    margin: 250px 0px 0px 270px;
    z-index: 1001;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #bfcce8c9;
    border-radius: 15px;
    padding: 15px 250px;
}

.title {
    font-family: "Grey Qo", cursive;
    font-size: 5rem;
    color: #14344d;  
}

.sub-title {
    font-family: "Grey Qo", cursive;
    font-size: 3rem;
    color: #cd6cc0;
}

.btn-box {
    max-width: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 250px 15px;
    border-radius: 15px;
    margin-left: 3rem;
    background-color: #bfcce87d;
}

.main-btn,
.menu-btn,
.about-btn {
    width: 10rem;
    padding: 7px 0 0 0;
    font-family: "Anek Devanagari", sans-serif;
    font-size: 1.7rem;
    border-radius: 2rem;
    transition: transform 0.2s linear;
    background-color: #e8ecff;
    color: #053153;
}

button:hover {
    transform: translateY(-0.2rem);
}

.btn-active {
    background-color: #c7c8d8;
}

.content-box {
    position: absolute;
    top: 0px;
    left: 500px;
}

.flex-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #bfcce87d;
    border-radius: 15px;
    padding: 50px 15px 0px 15px;
    height: 100vh;
    width: 500px;
}

.head-items {
    display: flex;
    gap: 2rem;
    background-color: #bfcce898;
    padding: 10px 90px;
    border-radius: 5px;
}

.head-item {
    /* background-color: #bfcce8d1; */
    padding: 10px 15px;
    font-size: 1.7rem;
    font-family: "Grey Qo", cursive;
    color: #14344d;
    cursor: pointer;
}

.active-item {
    background-color: #bfcce8d3;
    padding: 3px;
    border-radius: 5px;
    color: #bbe0ff;
}

.menu-p {
    max-width: 500px;
    margin-top: 50px;
    background-color: #b1c7f1c7;
    padding: 30px;
    border-radius: 5px;
    color: #053153;
    font-size: 1.5rem;
    line-height: 1.5;
}

.about-box {
    width: 500px;
    position: absolute;
    margin: 250px 0px 0px 270px;
    z-index: 1001;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #bfcce8c9;
    border-radius: 15px;
    padding: 15px 100px 15px 200px;
}

.about-title {
    font-family: "Grey Qo", cursive;
    font-size: 3rem;
    color: #cd6cc0;
}