
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

html {
    font-size: 14px;
}

.header {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #FFAFCC;
    color: #cae6fe;
    text-align: center;
}

.main {
    background-color: #FFC8DD;
    padding-top: 70px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.choices {
    display: flex;
    gap: 3rem;
}

#rock {
    background-image: url(./img/love-rock.gif);
    background-position: center;
    background-size: contain;
    width: 200px;
    height: 200px;
    border-radius: 15px;
}

#paper {
    background-image: url(./img/paper_8719680.png);
    background-position: center;
    background-size: contain;
    width: 200px;
    height: 200px;
    border-radius: 15px;
}

#scissors {
    background-image: url(./img/scissors_4869744.png);
    background-position: center;
    background-size: contain;
    width: 200px;
    height: 200px;
    border-radius: 15px;
}

.main__display-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.3rem;
    font-size: 2rem;
}

#result {
    font-weight: 700;
    font-size: 2rem;
}

.footer {
    background-color: #FFAFCC;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer__p {
    max-width: 250px;
    margin-inline: auto;
    color: #cae6fe;
}

@media (max-width: 730px) {
    html {
        font-size: 10px;
    }
    #rock,
    #paper,
    #scissors {
        width: 100px;
        height: 100px;
    }
    .footer__p {
        width: fit-content;
    }
}

@media (max-width: 500px) {
    .header {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .main {
        padding-top: 200px;
        padding-bottom: 250px;
    }
    #rock,
    #paper,
    #scissors {
        width: 70px;
        height: 70px;
    }
    .choices {
        gap: 1.2rem;
    }
    .footer {
        padding-top: 25px;
        padding-bottom: 30px;
    }
}